.btn.get-started-btn {
    margin-left: 25px;
    background: #2487ce;
    color: #fff;
    letter-spacing: .5px;
    transition: .3s;
    font-size: 16px;
    font-weight: 500;
    font-family: poppins, sans-serif;
}

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.container.nav {
    width: 100%;
}

.nav-item,
.vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.menu-name {
    color: rgb(255, 255, 255);
    font-weight: 500;
    min-width: max-content;
    display: inline-block;
    font-weight: bold;
}

.menu-item {
    background-color: rgb(72, 84, 96);
    margin: 10px 4px;
    padding: 6px 16px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(72, 84, 96);
    border-image: initial;
}

.menu-title {
    color: black;
    font-size: 22px;
    margin: 15px 4px;
}

.nav-item.menu {
    text-decoration: none;
}

.btn-confirm {
    width: 100%;
}

.time {    
    font-weight: 600;
    font-size: 0.8rem;
}

.hours {   
    font-size: 0.8rem;
    font-weight: 400;
}

.workday {
    margin-top: 10px;
}

.schedule-msg{
    margin-left: 10px;
}

.status {
    margin-bottom: 15px;
}