<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" [routerLink]="['']">
        <img src="../assets/img/bslista-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">

    </a>
    <div class="d-flex justify-content-end">
        <a class="nav-link active" [routerLink]="['']" [queryParams]="{ 'plan': 'basic' }"><button
                class="btn get-started-btn">Criar lista</button></a>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid bg-white">
    <div class="container">
        <h1 class="display-4">{{storeService.store.title}}</h1>
        <p class="lead">{{ storeService.store.complement }}</p>
    </div>
</div>


<div class="nav sticky-top bg-white">

    <div class="menu-title">
        {{ storeService.store.shelfTitle }}
    </div>
    <nav class='vertical-align-middle scroll sticky-top'>
        <a class="nav-item  menu-item" *ngFor="let category of storeService.categories "
            [href]="storeService.store.name + '#' + category.name">
            <div class="menu-name">{{ category.name }}</div>
        </a>
    </nav>

</div>


<div class="bg-light">
    <div class="container">
        <div class="list-group list-group-flush " *ngFor="let category of storeService.categories ">
            <div class="list-group-item bg-light ">
                <h4 [id]="category.name">{{ category.name }} </h4>
            </div>
            <div [id]="p._id " *ngFor="let p of storeService.productsByCategory(category.name) ">
                <app-shelfitem [productId]="p._id "></app-shelfitem>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light ">
    <div class="container justify-content-end ">
        <button class="btn btn-lg btn-success btn-confirm" [routerLink]="[nextRouterLink()] "
            [disabled]="!storeService.hasProductsOnBasket() ">
            {{ nextRouterName() }}
        </button>
    </div>
</nav>