
.checkbox-lg{
  width: 1.55rem;
  height: 1.55rem;
}

.list-group-item.productName {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
div.invalid-msg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn-confirm {
  width: 100%;
}