<div class="list-group-item text-muted dable-item" *ngIf="product.enable == false">
    <div class="row">
        <div class="col-6">
            <span class="productDesc text-muted"> {{ product.name }} </span>
        </div>
        <div class="col-6 text-center">
            <span class="productDesc text-muted"> (Esgotado) </span>
        </div>
    </div>
</div>
<div class="list-group-item" *ngIf="product.enable">
    <div class="row">
        <div class="col">
            <div class="d-flex">
                <div class="expand">
                    <span class="productName"> {{ product.name }} </span> <br>
                    <span class="productDesc text-muted"> {{ product.description }} </span> <br>
                    <span class="productUnit"> {{ product.unit }} </span> <br>
                </div>
                <div class="expand">
                    <img *ngIf="!product.img else elseBlockImg" src="../../assets/empimg.png" class="product-img">
                    <ng-template #elseBlockImg>
                        <img [src]="product.img" class="product-img" [alt]="product.name">
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex">
                <div class="expand">
                    <span class="productPrice">{{ storeService.formatPrice(product.price) }}</span>
                </div>
                <div class="expand">
                    <div class="btn-group itemcontrol" role="group" *ngIf="storeService.storeCanReciveOrder()">
                        <a class="control-btn" (click)="onSubtract()"><i
                                class="ri-indeterminate-circle-fill ri-lg"></i></a>
                        <a class="control-btn"><span>{{ product.qty }} </span></a>
                        <a class="control-btn" (click)="onAdd()"><i class="ri-add-circle-fill ri-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>