img{
    max-height:120px;
    max-width:129px;
    height:auto;
    width:auto;
    margin-bottom: 10px;
}
div.list-group-item {
    border-top-style: none;
}

.itemcontrol {
    position: fixed;
    bottom: 0;
    right: 0;
}

.dable-item {
    font-size: 14px;
}