.product-img{
    max-height:120px;
    max-width:129px;
    float: right!important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 10px;
}
div.list-group-item {
    border-top-style: none;
}

.itemcontrol {
    float: right!important;
}

.control-btn {
    padding-left: 10px;
    padding-right: 10px;
}

.expand {
    width: 100%;
}

.dable-item {
    font-size: 14px;
}

.productName {
    font-size: 1.2rem;
    font-weight: 600;
}

.productUnit {
    
    font-weight: 600;
}

.productDesc {
    font-size: 0.9rem;
}

.productPrice {    
    font-size: 80%;
    font-weight: 400;
}
