<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <div>

            <h5 class="mb-1">{{ product.name }}</h5>
            <p class="text-muted">{{ product.unit }}</p>
            <small>{{ storeService.formatPrice(product.price) }}</small>
        </div>
        <div class="d-flex flex-column justify-content-between">
            <img *ngIf="product.img != ''" [src]="product.img" class="card-img-left" alt="...">
            <img *ngIf="product.img == ''" src="../../assets/empimg.png"  class="card-img-left">
            <div class="col-12">
                <div class="d-flex flex-row justify-content-between">
                    <button type="button" class="btn btn-outline-danger" (click)="onSubtract()">-</button>
                    <span>{{ product.qty }}</span>
                    <button type="button" class="btn btn-outline-success" (click)="onAdd()">+</button>
                </div>
            </div>
        </div>
    </div>
</div>