.paymmodename {
    font-size: 10px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins, sans-serif;
}

.row.question {
    margin-top: 15px;
}

.question-title {
    font-weight: 600;
    font-size: 12px;
}

.command {
    padding-left: 10px;
    padding-right: 10px;
}

.command-group {
    
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    color: #6c757d;
    border-color: #6c757d;
    right: 10px;
    position: absolute;
}

.menuitem {
    color: #6c757d;
    font-size: 16px;
}
.label {
    font-size: 12px;
    position: absolute;
    right: 0;
  }

.col-check {
    padding-left: 5px;
    padding-right: 5px;
}