input.ng-invalid.ng-touched {
    border: 1px solid red;
    
}
div.invalid-msg {
    color: #dc3545;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins,sans-serif;
    
  }

  .title {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins,sans-serif;
}

.sub-title {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: .5px;
  font-family: poppins,sans-serif;
}

.warning-msg {
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: .5px;
  font-family: poppins,sans-serif;
}

.paymmodename {
  font-size: 8px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: .5px;
  font-family: poppins,sans-serif;
}

.list-group-item.bill {
  padding-left: 0;
}

.container.bill {
  padding-left: 5px;
  padding-right: 25px;
}
.row.product {
  margin-top:10px;
}

.checkbox-lg{
  width: 1.55rem;
  height: 1.55rem;
}

.money-icon {
  color: green;
}

.card-icon {
  color:#25c4f9;
}

.paymmode.active {
  background-color: #5eccf0;  
}

.addMorItens {
  border-radius: 50px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .5px;
  font-family: poppins,sans-serif;
}