<nav class="navbar sticky-top  navbar-expand-lg navbar-light bg-white justify-content-start">
  <a class="navbar-brand" [routerLink]="['/', storeService.store.name]">
    <i class="ri-arrow-left-line"></i>
  </a>
  <h1 class="logo">Pedido</h1>
</nav>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">{{ storeService.store.productTitle }}</th>
      <th scope="col">{{ storeService.store.unitTitle }}</th>
      <th scope="col">Qtde.</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let p of storeService.basketProducts()">
      <tr>
        <td>
          {{ p.name }}
        </td>
        <td>{{ p.unit }}</td>
        <td>{{ p.qty }}</td>
        <td>{{ storeService.formatPrice(p.price * p.qty) }}</td>
      </tr>
      <tr *ngIf="p.items.length > 0">
        <td colspan="2">
          <div *ngFor="let category of storeService.orderProductItemsCategory(p.items)">
            <p>{{ category.name }}</p>
            <ul>
              <li *ngFor="let item of storeService.getItemsInProductItemCategory(category)">
                {{ item.name }}
                <span *ngIf="item.price > 0"
                  class="text-muted">({{ storeService.formatPrice(item.price * item.qty) }})</span>
              </li>
            </ul>
          </div>
        </td>
        <td colspan="2">
      </tr>

    </ng-container>
    <tr>
      <td colspan="2"></td>
      <td>Pedido</td>
      <td>{{ storeService.formatPrice(storeService.bakestTotalAmount()) }}</td>
    </tr>
    <tr *ngIf="!storeService.canSubmitOrder()">
      <td colspan="2"></td>
      <td colspan="2">
        <div class="invalid-msg">
          *Adicione mais {{ storeService.formatPrice(storeService.remainToMinimumOrderAmount()) }} para fechar seu
          pedido.
        </div>
      </td>
    </tr>
    <tr *ngFor="let t of storeService.store.taxes">
      <td colspan="2"></td>
      <td>{{ t.name }}</td>
      <td>{{ storeService.formatPrice(t.value) }}</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>Total</td>
      <th>{{ storeService.formatPrice(storeService.basketTotalAmountWithTaxes()) }}</th>
    </tr>
  </tbody>
</table>

<br>
<br>
<br>
<nav class="navbar fixed-bottom navbar-expand-lg  navbar-light bg-light">
  <div class="container justify-content-end">
    <button type="submit" class="btn btn-success btn-lg" [routerLink]="['/', storeService.store.name, 'customer']"
      [disabled]="!storeService.canSubmitOrder()">
      Confirmar pedido
    </button>
  </div>
</nav>