input.ng-invalid.ng-touched {
    border: 1px solid red;
}

div.invalid-msg {
    color: #dc3545;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins, sans-serif;
}

.title {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins, sans-serif;
}

.sub-title {
    font-size: 18px;
    margin: 0;
    padding-top: 5px;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins, sans-serif;
}

.warning-msg {
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins, sans-serif;
}

.paymmodename {
    font-size: 10px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins, sans-serif;
}

.list-group-item.bill {
    padding: 5px;
}

.container.bill {
    padding-left: 5px;
    padding-right: 25px;
}

.row.product {
    margin-top: 10px;
}

.row.question {
    margin-top: 30px;
}

.question-text {
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .5px;
    font-family: poppins, sans-serif;
}

.bill-col1 {
    padding-left: 0;
}

.checkbox-lg {
    width: 1.55rem;
    height: 1.55rem;
}


.paymmode.active {
    border-color: #393e46;
    background-color: #393e46;
    color: white;
}

.addMorItens {
    border-radius: 50px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5px;
    font-family: poppins, sans-serif;
}

.container.bill,
.list-group-item.instruction-line {
    padding: 0;
}

.instruction {
    border-style: none;
    padding: 0;
    margin: 0;
}

.btn.action {
    width: 100%;
    background-color: white;
    line-height: 1;
    padding: 10px;
    
}

.payment-row {
    background-color: white;
    color: #6c757d;
    border-color: #6c757d;
    border: 1px solid;
    border-radius: .25rem;
}

.btn-confirm {
    width: 100%;
}