<app-nav-back title="Produtos" [route]="['/', 'user', 'board']"></app-nav-back>

<div *ngIf="products.length == 0" class="spinner-border" role="status">
    <span class="sr-only">Carregando...</span>
</div>

<ul class="list-group" *ngIf="products.length > 0">

    <ng-container *ngFor="let c of categories ">
        <li class="list-group-item bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {{ c.name }}
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item" *ngFor="let p of dashBoardService.filterProductsByCategory(products, c.name)">
            <div class="container">
                <a (click)="showProduct(p._id)">
                    <div class="row">
                        <div class="col">
                            {{ p.name }}
                        </div>
                    </div>
                </a>
                <ng-container *ngIf="productsToShow.includes(p._id)">
                    <div class="row">
                        <div class="col">
                            {{ p.price }}
                        </div>
                    </div>
                </ng-container>
            </div>
        </li>
    </ng-container>
</ul>