<app-nav-back title="Produtos" [route]="['/', 'user', 'board']"></app-nav-back>

<div class="container">
    <div *ngIf="products.length == 0 && noProducts == false" class="spinner-border" role="status">
        <span class="sr-only">Carregando...</span>
    </div>

    <ul class="list-group">
        <ng-container *ngFor="let c of categories">
            <li class="list-group-item bg-light">
                <div class="container">
                    <a (click)="showCategory(c.name)">
                        <div class="row">
                            <div class="col">
                                {{ c.name }}
                            </div>
                            <div class="col-2">
                                <span class="badge badge-dark">
                                    {{ dashBoardService.filterProductsByCategory(products, c.name).length }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <ng-container *ngIf="categoriesToShow.includes(c.name)">
                <li class="list-group-item">
                    <button type="submit" class="btn btn-outline-secondary" (click)="onItemCreate(c.name, '', '')">
                        <i class="ri-file-add-line"></i>
                        <smal> Criar produto </smal>
                    </button>                   
                </li>
                <li class="list-group-item"
                    *ngFor="let p of dashBoardService.filterProductsByCategory(products, c.name)">
                    <div class="container">
                        <div class="row">
                            <a class="col-2"  (click)="onEditProduct(p)">
                                <i class="ri-pencil-line"></i>
                            </a>
                            <a class="col-8" (click)="showProduct(p._id)">
                                {{ p.name }}
                            </a>
                            <div class="col">
                                <label class="switch ">
                                    <input type="checkbox" [checked]="p.enable" (click)="changeItem(p)" class="default">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <!-- <ng-container *ngIf="productsToShow.includes(p._id)">
                            <div class="row-form">
                                <div class="col">
                                    <select class="form-control" name=""
                                        (change)="onChangeCategory($event.target.value, p)" required>
                                        <option value=""> - Mudar categoria - </option>
                                        <option *ngFor="let c of categories" [value]="c.name">{{ c.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </ng-container> -->
                    </div>
                </li>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="noCategory().length > 0">
            <li class="list-group-item bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span>Sem categoria</span><br>
                            <span class="text-muted"> Não são exibidos na loja</span>

                        </div>
                        <div class="col-2">
                            <span class="badge badge-dark">
                                {{ noCategory().length }}
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item" *ngFor="let p of noCategory()">
                <div class="container">
                    <a (click)="showProduct(p._id)">
                        <div class="row">
                            <div class="col-8">
                                {{ p.name }}
                            </div>
                        </div>
                    </a>
                    <ng-container *ngIf="productsToShow.includes(p._id)">
                        <div class="row row-form">
                            <div class="col">
                                <select class="form-control" name="" (change)="onChangeCategory($event.target.value, p)"
                                    required>
                                    <option value=""> - Selecionar - </option>
                                    <option *ngFor="let c of categories" [value]="c.name">{{ c.name }}</option>
                                </select>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </li>
        </ng-container>
    </ul>
</div>
<br>
<br>
<br>
<br>

<nav class="navbar fixed-bottom navbar-expand-lg  navbar-light bg-light"
    *ngIf="dashBoardService.filterChangedProducts(products).length > 0">
    <div class="container justify-content-center">
        <div *ngIf="commandNow == 'spinner'" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <button *ngIf="commandNow == 'confirm'" type="submit" class="btn btn-success btn-lg btn-confirm"
            (click)="saveProducts()">
            Salvar
        </button>
    </div>
</nav>