<div *ngFor="let storename of dashBoardService.userToken.stores">
    <nav class="navbar topnavBar">
        <a class="navbar-brand">
            <span class="topnavBar-Text">
                /{{ storename }} ({{ dashBoardService.userToken.userPlan }})
            </span>
        </a>
        <div class="command-group">
            <div class="nav-item dropleft">
                <a class="nav-link command" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="topnavBar-Text ri-more-2-line"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/','user','pwd']" >Alterar Senha</a>
                    <a class="dropdown-item" (click)="logOut()">Sair</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-secondary d-flex actionMenu"
                    [routerLink]="['/', storename, 'store']">
                    <div class="col-2">
                        <i class="ri-settings-4-fill"></i>
                    </div>
                    <div class="col-10 text-left">
                        <span class="">Configurar Loja</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-secondary d-flex actionMenu"
                    [routerLink]="['/', storename, 'products']">
                    <div class="col-2">
                        <i class="ri-grid-fill"></i>
                    </div>
                    <div class="col-10 text-left">
                        <span class="">Produtos</span>
                    </div>
                </button>
            </div>
        </div>
        <ng-container *ngIf="dashBoardService.userToken.userPlan ==  'pro'">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary d-flex actionMenu"
                        [routerLink]="['/', storename, 'sales']"
                        [disabled]="dashBoardService.userToken.userPlan !=  'pro'">
                        <div class="col-2">
                            <i class="ri-bill-line"></i>
                        </div>
                        <div class="col-10 text-left">
                            <span class="">Pedidos</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary d-flex actionMenu"
                        [routerLink]="['/', storename, 'cust']"
                        [disabled]="dashBoardService.userToken.userPlan !=  'pro'">
                        <div class="col-2">
                            <i class="ri-user-search-line"></i>
                        </div>
                        <div class="col-10 text-left">
                            <span class="">Clientes</span>
                        </div>
                    </button>
                </div>
            </div>
        </ng-container>
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-secondary d-flex actionMenu" [href]="storename" target="_blank">
                    <div class="col-2">
                        <i class="ri-eye-line"></i>
                    </div>
                    <div class="col-10 text-left">
                        <span class="">Ver loja</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>