.actionMenu {
    width: 100%;
    margin-top: 10px;
}


.command {
    padding-left: 10px;
    padding-right: 10px;
  }
  
.command-group {    
    right: 10px;
    position: absolute;
}

.topnavBar {
    background-color: #343a40!important;
}
.topnavBar-Text {
    color: rgb(255, 255, 255);
    font-weight: 500;
    min-width: max-content;
    display: inline-block;
    font-weight: bold;
}