<div class="container" *ngFor="let storename of dashBoardService.userToken.stores">
    <div class="row">
        <div class="col">
            <h1>{{ storename }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-secondary d-flex actionMenu" [routerLink]="['/', storename, 'sales']">
                <div class="col-2">
                    <i class="ri-bill-line"></i>
                </div>
                <div class="col-10 text-left">
                    <span class="">Pedidos</span>
                </div>
            </button>                            
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-secondary d-flex actionMenu" [routerLink]="['/', storename, 'cust']">
                <div class="col-2">
                    <i class="ri-user-search-line"></i>
                </div>
                <div class="col-10 text-left">
                    <span class="">Clientes</span>
                </div>
            </button>                            
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-secondary d-flex actionMenu" [routerLink]="['/', storename, 'products']">
                <div class="col-2">
                    <i class="ri-grid-fill"></i>
                </div>
                <div class="col-10 text-left">
                    <span class="">Produtos</span>
                </div>
            </button>                            
        </div>
    </div>  
</div>