<div class="account">
    <div class="form-signin">
        <div class="d-flex justify-content-center">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                height="72">
        </div>
        <ng-container *ngIf="currentView=='login'">
            <form class="signin" (ngSubmit)="logIn(form)" #form="ngForm">
                <input type="email" class="form-control" placeholder="E-mail" name="userEmail" required autofocus
                    ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

                <input type="password" class="form-control" placeholder="Senha" name="userPwd" required ngModel>
                <div class="invalid-msg text-center">
                    <span> {{ msgError }} </span>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.valid || !canSubmit">Login</button>
            </form>
            <div class="singup d-flex justify-content-center">
                <div class="signup">
                    <span>Novo por aqui? <a (click)="changeView('signup')" class="text-primary">Crie sua lista</a></span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="currentView=='signup'">
            <form class="signin" (ngSubmit)="signup(form)" #form="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" name="userName" required ngModel minLength="3"
                        maxLength="60" placeholder="Seu nome">
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control" placeholder="(00) 9 0000 0000" name="userPhone" required
                        ngModel mask="(00) 0 0000-0000" [dropSpecialCharacters]="false">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon2">@</div>
                        </div>
                        <input type="text" class="form-control" placeholder="nomedasualoja" ngModel
                            name="storeName" pattern="^(?!.*\.\.)(?!.*\.$)[^\W][\w.]{0,29}$" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="E-mail" name="userEmail" required ngModel
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </div>
                <!-- <div class="form-group">
                    <select class="form-control" ngModel name="storePlan" required>
                        <option value="">Escolha um plano</option>
                        <option value="basic">Básico</option>
                        <option value="pro">Pró</option>
                        <option value="pro2">Pró Anual</option>
                    </select>
                </div> -->
                <div class="invalid-msg text-center">
                    <span> {{ msgError }} </span>
                </div>                
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!form.valid || !canSubmit">Criar</button>
            </form>
            <div class="singup d-flex justify-content-center">
                <div class="signup">
                    <a (click)="changeView('login')" class="text-primary">Login</a>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="currentView=='welcome'">
            
            <h1>                
                Quase lá!!!
            </h1>
            <p>
                Entraremos em contato para criar a sua lista online.
            </p>
            <p>
                Você poderá acessar sua lista pelo link <a [href]="'http://' + newStore"> {{ newStore }} </a>
            </p>            
        </ng-container>
    </div>
</div>
