<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white justify-content-start">
  <a class="navbar-brand" [routerLink]="['/', storeService.store.name, 'bill']">
    <i class="ri-arrow-left-line"></i>
  </a>
  <h1 class="logo">Entrega</h1>
</nav>
<div class="container">
  <form (ngSubmit)="onConfirmPurch()" #form="ngForm">
    <div class="form-row">
      <h5 class="mb-1">Seus dados</h5>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCustName">Nome</label>
        <input type="text" class="form-control" id="inputCustName" name="userName" required ngModel minLength="3"
          maxLength="160">
      </div>
    </div>
    <div *ngIf="storeService.store.questions.phone == true" class="form-row">
      <div class="form-group col-md-4">
        <label for="inputPassword4">Celular com DDD</label>
        <input type="phone" inputmode="numeric" class="form-control" id="inputPhone" placeholder="(00) 9 0000 0000"
          name="userPhone" required ngModel mask="(00) 0 0000-0000" [dropSpecialCharacters]="false">
      </div>
    </div>
    <div *ngIf="storeService.store.questions.address == true">
      <div class="form-row">
        <h5 class="mb-1">Endereço de entrega</h5>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputZip">CEP</label>
          <input type="text" inputmode="numeric" class="form-control" id="inputZip" placeholder="00000-000"
            name="zipcode" required ngModel #zipCode="ngModel" mask="00000-000"
            (keyup)="onZipCodeChange(zipCode.value, form)">
          <div class="invalid-msg">
            {{ zipCodeQueryError }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Cidade / Estado</label>
          <input type="text" readonly="true" class="form-control" id="inputAddressLine" name="userAddressLine" required
            ngModel>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="inputAddress">Nome da Rua</label>
          <input type="text" class="form-control" id="inputAddress" name="userAddress" required ngModel>
        </div>
        <div class="form-group col-md-2">
          <label for="inputAddressNumber">Número</label>
          <input type="text" inputmode="numeric" class="form-control" id="inputAddressNumber" placeholder=""
            name="userAddressNumber" required ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress2">Complemento</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, bloco ou andar."
          name="userAddressComplement" ngModel>
      </div>
    </div>
    <br>
    <br>
    <br>
    <nav class="navbar fixed-bottom navbar-expand-lg  navbar-light bg-light">
      <div class="container justify-content-end">
        <button type="submit" class="btn btn-success  btn-lg"
          [disabled]="!form.valid || !storeService.canSubmitOrder()">
          Enviar
        </button>
      </div>
    </nav>
  </form>

</div>